/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* BODY */
html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    overscroll-behavior: none; /* impede bounce moderno */
}

body {
    background-color: #020617;
    display: flex;
    justify-content: center;
    align-items: center;

    overflow-y: auto;          /* ⬅ permite o gesto */
    overscroll-behavior-y: auto;
}

/* esconde a barra visual */
body::-webkit-scrollbar {
    display: none;
}
body {
    scrollbar-width: none;
}

/* app continua travado */
.app {
    width: 360px;
    height: 100dvh;
    background-color: #020617;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    color: #e5e7eb;

    overflow: hidden;          /* ⬅ NÃO rola internamente */
}

/* HEADER */
.header {
    padding: 20px;
    border-bottom: 1px solid #1e293b;
}

.header h1 {
    font-size: 20px;
    margin-bottom: 2px;
}

.header p {
    font-size: 14px;
    color: #94a3b8;
}

/* STATUS PAGAMENTO */
.header .rent-status {
    margin-top: 10px;
    font-size: 15px;  
    font-weight: 600;
}



/* CONTEÚDO FIXO */
.content {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 18px;
    overflow: hidden; /* garante que NÃO role */
}

/* BOTÕES */
.action-btn {
    width: 100%;
    border: none;
    border-radius: 14px;
    cursor: pointer;
    font-weight: 500;
    background-color: #1e293b;
    color: #e5e7eb;
    transition: background-color 0.2s ease;
}

.action-btn:active {
    transform: scale(0.97);
}

/* BOTÃO PRINCIPAL */
.btn-pay {
    height: 130px;
    font-size: 25px;
    font-weight: 600;
    background-color: #38bdf8;
    color: #020617;
    border-radius: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
    transition: transform 0.15s ease, box-shadow 0.15s ease;
}

.btn-pay:active {
    transform: scale(0.97);
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.35);
}

/* GRID DOS BOTÕES */
.grid-secondary {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 14px;
}

.grid-secondary .action-btn {
    height: 110px;
    font-size: 15px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
}
