* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #020617;
    display: flex;
    justify-content: center;
}

.app {
    width: 360px;
    min-height: 100dvh;
    color: #e5e7eb;
}

/* HEADER PADRÃO */
.app-header {
    position: sticky;
    top: 0;
    z-index: 100;

    height: 56px;
    display: flex;
    align-items: center;
    gap: 12px;

    padding: 0 16px;
    padding-top: env(safe-area-inset-top);

    background-color: #020617;
    border-bottom: 1px solid #1e293b;
}

.back-btn {
    background: none;
    border: none;
    color: #94a3b8;
    font-size: 20px;
    cursor: pointer;
}

.header-title {
    font-size: 16px;
    font-weight: 600;
}

/* CONTEÚDO */
.app-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.rent-value {
    font-size: 18px;
    font-weight: 700;
    color: #38bdf8;
}


/* CARDS */
.contract-card {
    background-color: #1e293b;
    border-radius: 16px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.contract-card h2 {
    font-size: 14px;
    color: #94a3b8;
    margin-bottom: 6px;
}

.contract-card p {
    font-size: 14px;
}

/* CARD DE STATUS */
.contract-card.highlight {
    text-align: center;
}

.contract-status {
    color: #22c55e;
    font-weight: 600;
    font-size: 15px;
}

.contract-id,
.contract-period {
    font-size: 13px;
    color: #94a3b8;
}

/* AÇÕES */
.contract-actions {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 8px;
}

.primary-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    background-color: #38bdf8;
    color: #020617;
    border: none;
    border-radius: 14px;
    padding: 14px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}

.primary-btn:active {
    transform: scale(0.97);
}


.secondary-btn {
    background-color: transparent;
    color: #38bdf8;
    border: 1px solid #38bdf8;
    border-radius: 14px;
    padding: 12px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}


