* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #020617;
    display: flex;
    justify-content: center;
}

.app {
    width: 360px;
    min-height: 100dvh;
    color: #e5e7eb;
}

/* HEADER */
.app-header {
    position: sticky;
    top: 0;
    z-index: 100;

    height: 56px;
    display: flex;
    align-items: center;
    gap: 12px;

    padding-top: env(safe-area-inset-top);
    padding: 0 16px;

    border-bottom: 1px solid #1e293b;
    background-color: #020617;
}

.back-btn {
    background: none;
    border: none;
    color: #94a3b8;
    cursor: pointer;
}

.header-title {
    font-size: 16px;
    font-weight: 600;
}

/* CONTEÚDO */
.content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* PERFIL */
.profile-card {
    background-color: #1e293b;
    border-radius: 16px;
    padding: 18px;

    display: flex;
    align-items: center;
    gap: 14px;
}

.avatar {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #38bdf8;
    color: #020617;

    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: 700;
}

.profile-info h2 {
    font-size: 16px;
}

.profile-info p {
    font-size: 13px;
    color: #94a3b8;
}

.cpf {
    font-size: 12px;
}

/* CARD INFO */
.info-card {
    background-color: #1e293b;
    border-radius: 16px;
    padding: 16px;

    display: flex;
    flex-direction: column;
    gap: 8px;
}

.info-card p {
    font-size: 13px;
    color: #94a3b8;
}

.info-card strong {
    color: #e5e7eb;
}

/* BOTÃO SAIR */
.logout-btn {
    background-color: #dc2626;
    color: #fff;

    border: none;
    border-radius: 14px;
    padding: 14px;

    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}

.logout-btn:active {
    transform: scale(0.97);
}

/* BOTÃO SOBRE */
.about-btn {
    background-color: transparent;
    color: #38bdf8;

    border: 1px solid #38bdf8;
    border-radius: 14px;
    padding: 14px;

    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}

.about-btn:active {
    transform: scale(0.97);
}


.btn-whatsapp {
    width: 100%;
    padding: 14px;
    border-radius: 12px;
    border: none;
    background: #25d366;
    color: #0b1b12;
    font-size: 0.95rem;
    font-weight: 600;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    cursor: pointer;
}

.whatsapp-icon {
    width: 20px;
    height: 20px;
    fill: currentColor; /* herda a cor do botão */
}

